* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #444;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(tech.jpg);
  background-size: cover;
  color: #fff;
  position: relative;
  margin-bottom: 48px;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navs {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  margin-bottom: 32px;
}

.nav-flex {
  display: flex;
  gap: 24px;
}

.text-main {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sub-text {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 32px;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  background-color: #66a80f;
  color: #fff;
  border-radius: 8px;
  padding: 12px 24px;
}

.btn:hover,
.btn:active {
  background-color: #82c91e;
}

.inner-wrapper {
  right: 50%;
  bottom: 0;
  position: absolute;
  transform: translate(33%, -25%);
}

section {
  margin-bottom: 52px;
  /* text-align: center; */
}

.section-header {
  font-size: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.section-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
